.bottom {
  background-color: $off-white;
  text-align: center;
  padding: 1rem 0.5rem 2rem 0.5rem;
  height: 100%;
  @include media('>large', '<=extra'){
    padding: 2rem;
  }
  .titlebot{
      color: $gold;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      @include media('>small', '<=mid'){
        font-size: 2rem;  
      }
      @include media('>mid', '<=large'){
        font-size: 2rem;  
      }
      @include media('>large', '<=extra'){
        font-size: 2rem;
      }
  }
  .car-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    @include media('>small', '<=mid'){
    }
    @include media('>mid', '<=large'){
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include media('>large', '<=extra'){
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .carcard{
      width: 100%;
      height: 100%;
      border: solid 1px $gold;
      margin: 1rem 0rem;
      padding-bottom: 1rem;
      color: $black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include media('>mid', '<=large'){
        width: 25%;
        margin: 2rem;
      }
      @include media('>large', '<=extra'){
        width: 25%;
        margin: 2rem;
      }
      .cardimage{
        width: 100%;
        height: 100%;
      }
      .cardproduct{
        
        padding: 1rem;
        color: $gold;
        font-weight: bold;
        @include media('>small', '<=mid'){
          font-size: 1.4rem;
        }
      }
      .cardfinition{
        text-transform: uppercase;
        font-style:italic;
        padding-bottom: 1rem;
        @include media('>small', '<=mid'){
          font-size: 1.4rem;
        }
      }
      .carddetails1{
        font-size: 0.9rem;
        padding-bottom: 1rem;
        @include media('>small', '<=mid'){
          font-size: 1.4rem;
        }
      }
      .carddetails2{
        font-weight: bold;
        @include media('>small', '<=mid'){
          font-size: 1.4rem;
        }
      }
    }
  }
  .allcars {
    background-color: $black;
    color: $gold;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 40px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-weight: 700;
    @include media('>small', '<=mid'){
      font-size: 1.8rem;
    }
    &:hover{
      color: $black;
      background-color: $gold;
      transition: 0.5s;
    }
  }
}