.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  padding: 0;
  z-index: 10;
  @include media('>mid', '<=large'){
    display: none;
  }
  @include media('>large', '<=extra'){
    display: none;
  }
  span{
    width: 2rem;
    height: 0.25rem;
    background: $gold;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
      &:first-child{
        transform: rotate(0);
      }
      &:nth-child(2){
        transform: rotate(0);
        opacity: 1;
      }
      &:nth-child(3){
        transform: rotate(0);
      }
    &.active{
      &:first-child{
        transform: rotate(45deg);
      }
      &:nth-child(2){
        transform: rotate(20px);
        opacity: 0;
      }
      &:nth-child(3){
        transform: rotate(-45deg);
      }
    }
  }
  &:focus {
    outline: none;
  }
}