.reviews {
  background-image: url("../../assets/images/carbonfiber.jpg");
  text-align: center;
  padding: 1rem;
  position: relative;
  text-align: center;
  height: 100vh;
  @include media('>small', '<=mid'){
  }
  @include media('>=large'){
    padding: 2rem;
  }
  
  .titlereviews{
    color: $gold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 700;
    height: 25%;
    @include media('>small', '<=mid'){
      height: auto;
      margin-bottom: 10rem;
    }
    @include media('>=large'){
      margin-bottom: 30px;
    }
  }
  .reviews-container{
    height: 75%;
    padding: 1rem;
    color: $off-white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include media('>small', '<=mid'){
      height: 70%;
      padding: 2rem;
    }
    @include media('>=large'){
    }
    .starsreview{
      font-size: 2rem;
      @include media('>small', '<=mid'){
        font-size: 4rem;
      }
      @include media('>=large'){
        margin-top: 1rem;
      }
    }
    .datereview{
      color: grey;
      font-style:italic;
      font-size: 1.2rem;
      @include media('>small', '<=mid'){
        font-size: 2rem;
      }
      @include media('>=large'){
        margin-top: 1rem;
      }
    }
    .contentreview{
      font-weight: 600;
      font-style: italic;
      text-align: center;
      height: 25%;
      display: flex;
      align-items: center;
      @include media('>small', '<=mid'){
        font-size: 2rem;
      }
      @include media('>=large'){
        font-size: 1.2rem;
        margin-top: 1rem;
      }
    }
    .authorreview{
      color: $off-white;
      font-style:italic;
      font-size: 1.2rem;
      margin-bottom: 2rem;
      @include media('>small', '<=mid'){
        font-size: 2rem;
      }
      @include media('>=large'){
        margin-bottom: 1rem;
        margin-top: 1rem;
      }
    }
    .allreviews{
      width: 75%;
      background-color: $gold;
      color: $black;
      padding: 1rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      border-radius: 40px;
      left: 0;
      right: 0;
      bottom: 0;
      @include media('>small', '<=mid'){
        font-size: 1.8rem;
      }
      @include media('>=large'){
        width: 40%;
        padding: 1.5rem;
        letter-spacing: 4px;
        border-radius: 40px;
        margin-top: 1rem;
      }
      &:hover{
        @include media('>=large'){
          color: $gold;
          background-color: $black;
          transition: 0.5s;
        }
      }
    }
  }
  
}