.home {
  background-image: url('../../assets/images/carbonfiber.jpg');
  padding: 0.5rem 1rem;
  overflow: hidden;
  @include media('>mid'){
    padding: 5rem;
  }
  .home-container {
    @include media('>large', '<=extra'){
      margin: 2rem;
    }
    .easyreturn {
      @include media('>large', '<=extra'){
        padding: 2rem;
      }
      .easyreturntext {
        a{
          color: $gold;
          font-size: 0.8rem;
          @include media('>small'){
            font-size: 1rem;
            cursor: pointer;
          }
        }
      }
    }
    .indexDiv {
      .article-title {
        text-transform: uppercase;
        color: $gold;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 700;
        padding: 2rem 0.5rem;
        line-height: 2rem;
        font-size: 1.4rem;
        @include media('>small'){
          font-size: 1.6rem;  
        }
      }
      .article-content {
        color: $off-white;
        padding: 1rem;
        @include media('>large', '<=extra'){
          padding: 2rem;
        }
        .title-content {
          font-size: 1.1rem;
          color: $gold;
          font-weight: 600;
          @include media('>small'){
            font-size: 1.3rem;  
          }
        }
        p {
            text-align: justify;
            @include media('>small', '<=mid'){
              font-size: 1.1rem;  
          }
        }
      }
    } 
  }
}