header{
  height: 100vh;
  overflow: hidden;
  .filter{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 11;
    width: 100%;
    height: 150%;
    &.active{
      display: block;
    }
  }
  .container-header {
    width: 100%;
    height: 100%;
    .container-header-background {
      width: 100%;
      height: 100%;
      background-image: url('../../assets/images/bentley.jpg');
      @include media('>large'){
        animation-name: backgroundEffect;
        animation-timing-function: linear;
        animation-duration: 30s;
        animation-iteration-count: infinite;
      }
      &::after {
        @include media('>large'){
          content: '';
          position: absolute;
          top:0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
          z-index: 1;
        }
      }
    }
    .inner-header {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      position:absolute;
      top: 0;
      right:0;
      .adress {
        display: none;
        position: absolute;
        color: $gold;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 0.3rem;
        z-index: 2;
        top: 0.5rem;
        left: 25%;
        right: 25%;
        text-align: center;
        @include media('>mid', '<=large'){
          display: inline-block;
        }
        @include media('>large'){
          display:inline-block;
          top: 0.3rem;
        }
      }
      .navigation {
        position: fixed;
        top: 0px;
        right: 0px;
        background-color: $black;
        width: 100%;
        height: 3rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        z-index: 11;
        @include media('>mid'){
          position: absolute;
          top: 2rem;
          justify-content: space-evenly;
        }
        .small-adress{
          color: $gold;
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: 700;
          @include media('>small', '<=mid'){
            position: absolute;
            display: block;
            z-index: 14;
            color:$gold;
            text-transform: uppercase;
            font-weight: 700;
            text-align: right;
            right: 0;
            margin: 1rem;
            font-size: 1rem;
          }
          @include media('>mid'){
            display: none;
          }
          span{
            display: none;
            @include media('>small', '<=mid'){
              display: inline-block;
            }
          }
        } 
        .navdesk {
          display:none;
          @include media('>mid'){
            display: block;
          }
          .activeBg{
            border-bottom: solid $gold 2px;
            padding-bottom: 2px;
          }
          a{
            @include media('>mid', '<=large'){
              margin: 0.5rem 0.5rem;
              text-decoration: none;
              letter-spacing: 1px;
              text-transform: uppercase;
              font-weight: 700;
              color: $gold;
            }
            @include media('>large'){
              margin: 0.5rem 0.5rem;
              text-decoration: none;
              letter-spacing: 1px;
              text-transform: uppercase;
              font-weight: 700;
              color: $gold;
            }
          }
        }
      }
      .logo {
        margin-top: 4rem;
        text-align: center;
        @include media('>mid'){
          margin-top: 6rem;
        }  
        img{
          @include media('>small', '<=mid'){
            width: 300px;
            height: 300px;
          }
        }
      }
      .baseline-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include media('>small', '<=mid'){
          align-items: flex-end;
          margin-top: 1rem;
          padding: 2rem;
          text-align: center;
        }
        @include media('>mid'){
          align-items: flex-start;
          margin-left: 2rem;
          padding: 1rem;
        }
        .baseline-text {
          font-size: 1.2rem;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 600;
          color: $gold;
          padding: 1rem;
          text-shadow: 1px 1px 1px #000;
          @include media('>small', '<=mid'){
            font-size: 2rem;
          }
          @include media('>mid', '<=large'){
            font-size: 2rem;
            text-align: left;
          }
          @include media('>large'){
            font-size: 2.8rem;
            letter-spacing: 5px;
            color: $off-white;
            text-align: left;
          }   
        }
        .baseline-network {
          .network-logo {
            background-color: $gold;
            padding: 0.1rem;
            margin-left: 0.8rem;
            border-radius: 10px;
            width: 70px;
            height: 70px;
            @include media('>mid'){
              width: 50px;
              height: 50px;
            }     
          }
        }
      }
      .arrow-down {
        text-align: center;
        margin: auto;
        position: absolute;
        z-index: 4;
        left: 0;
        right: 0;
        bottom: 1rem;
        img {
          width: 60px;
          height: 60px;
          @include media('>small', '<=mid'){
            width: 120px;
            height: 120px;
          }
          @include media('>large'){ 
            width: 80px;
            height: 80px;
          }  
        }
      }
    }
  }
}
@keyframes backgroundEffect {
  10% {
    transform:scale(1.01);
  }
  20% {
    transform:scale(1.02);
  }
  30% {
    transform:scale(1.03);
  }
  40% {
    transform:scale(1.04);
  }
  50% {
    transform:scale(1.05);
  }
  60% {
    transform:scale(1.04);
  }
  70% {
    transform:scale(1.03);
  }
  80% {
    transform:scale(1.02);
  }
  90% {
    transform:scale(1.01);
  }
  100% {
    transform:scale(1.00);
  }
}