.whosrus{
  position: relative;
  background-color: $off-white;
  .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    @include media('>large'){
      justify-content: space-evenly;
      flex-direction: row;
      width: 100%;
      height: 500px;
    }
    .map {
      height: 50%;
      order: 2;
      @include media('>large'){
        width: 50%;
        height: 100%;
      }
    }
    .contact{
      height: 50%;
      order: 1;
      padding: 0.5rem 0;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include media('>large'){
        width: 50%;
        height: 100%;
      }
      .title{
        color: $gold;
        letter-spacing: 2px;
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        @include media('>small', '<=mid'){
          font-size: 2rem;
        }
        @include media('>mid'){
          font-size: 2rem;
          margin-bottom: 0.9rem;
        }  
      }
      .coords{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-transform: uppercase;
        align-items: center;
        .titlecoord{
          font-size: 1.2rem;
          font-weight: 600;
          @include media('>small', '<=mid'){
            font-size: 1.6rem;
          }
          @include media('>mid'){
            font-size: 1.4rem;
          }
        }
        .tel{
          @include media('>small', '<=mid'){
            font-size: 1.5rem;
          }
          @include media('>mid'){
            font-size: 1.3rem;
          }
        }
        .adress{
          @include media('>small', '<=mid'){
            font-size: 1.5rem;
          }
          @include media('>mid'){
            font-size: 1.3rem;
          }
        }
        .horaire{
          color: $gold;
          @include media('>small', '<=mid'){
            font-size: 1.5rem;
          }
          @include media('>mid'){
            font-size: 1.3rem;
          }
        }
        a{
          width: 75%;
          padding: 0.5rem;
          color: $gold;
          background-color: $black;
          border-radius: 50px;
          letter-spacing: 2px;
          font-weight: 600;
          @include media('>small', '<=mid'){
            font-size: 1.8rem;
            padding: 1rem;
          }
          @include media('>mid'){
            font-size: 1rem;
            padding: 1rem;
            width: auto;
          } 
          &:hover{
            background-color: $gold;
            color: $black;
            transition: 1s;
          }
        }
      }
    }
  }
}