.footer{
  background-color: $black;
  text-align: center;
  color: $off-white;
  .container{
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    .footernav{
      @include media('>small'){
        padding: 1rem;
      }
      ul{
        @include media('>small'){
          display: flex;
          justify-content: space-around;
        }
        li{
          padding: 0.4rem 0rem;
          text-transform: uppercase;
          font-weight: 600;
          @include media('>small', '<=mid'){
            padding: 1rem;
            font-size: 1.4rem;
          }
          @include media('>mid'){
            padding: 1rem;
          }
          a{
            color: $off-white;
            text-decoration: none;
            &:hover{
              border-bottom: solid $off-white 2px;
              padding-bottom: 2px;
            }
          }
        }
      }
    }
    .arrow-up{
      text-align: center;
      img{
        width: 60px;
        height: 60px;
        cursor: pointer;
        @include media('>large'){
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}