.footer{
  background-color: $black;
  text-align: center;
  color: $off-white;
  @include media('>mid', '<=large'){
  }
  .container{
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    .footernav{
      @include media('>small', '<=mid'){
        padding: 1rem;
      }
      @include media('>mid', '<=large'){
        padding: 1rem;
      }
      @include media('>large', '<=extra'){
        padding: 1rem;
      }
      ul{
        @include media('>small', '<=mid'){
          display: flex;
          justify-content: space-around;
        }
        @include media('>mid', '<=large'){
          display: flex;
          justify-content: space-around;
        }
        @include media('>large', '<=extra'){
          display: flex;
          justify-content: space-around;
        }
        li{
          padding: 0.4rem 0rem;
          text-transform: uppercase;
          font-weight: 600;
          @include media('>small', '<=mid'){
            padding: 1rem;
            font-size: 1.4rem;
          }
          @include media('>mid', '<=large'){
            padding: 1rem;
          }
          @include media('>large', '<=extra'){
            padding: 1rem;
          }
          a{
            color: $off-white;
            text-decoration: none;
          }
        }
      }
    }
    .arrow-up{
      text-align: center;
      img{
        width: 60px;
        height: 60px;
        @include media('>large', '<=extra'){
          width: 80px;
          height: 80px;
        }
      }

    }
  }
}