.footer{
  background-color: $black;
  text-align: center;
  color: $off-white;
  @include media('>mid', '<=large'){
    
  }
  @include media('>=large'){
    position: relative;
  }
  .container{
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    @include media('>=large'){
      width: 100%;
    }
    .footernav{
      @include media('>small', '<=mid'){
        padding: 1rem;
      }
      @include media('>mid', '<=large'){
        padding: 1rem;
      }
      @include media('>=large'){
      }
      ul{
        @include media('>small', '<=mid'){
          display: flex;
          justify-content: space-around;
        }
        @include media('>mid', '<=large'){
          display: flex;
          justify-content: space-around;
        }
        @include media('>=large'){
          
        }
        li{
          padding: 0.4rem 0rem;
          text-transform: uppercase;
          font-weight: 600;
          @include media('>small', '<=mid'){
            padding: 1rem;
            font-size: 1.4rem;
          }
          @include media('>mid', '<=large'){
            padding: 1rem;
          }
          @include media('>=large'){
            padding: 0 20px;
            display: inline-block;
          }
          a{
            color: $off-white;
            text-decoration: none;
          @include media('>=large'){
          }
          }
        }
      }
    }
    .arrow-up{
      text-align: center;
      @include media('>=large'){
        left: 0;
        right: 0;
        margin: auto;
        bottom: 30px;
        z-index: 3;
        cursor: pointer;
      }
      img{
        width: 60px;
        height: 60px;
        @include media('>=large'){
          width: 80px;
          height: 80px;
        }
      }

    }
  }
}